.username {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.challenge {
  color: var(--purple);
  font-weight: 500;
  font-size: 18px;
}

.text-orange {
  color: var(--orange);
}

.intro {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.goal-container {
  padding: 1rem 1.5rem;
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1.5rem;
  border: 1.5px solid var(--purple);
}

.goal-container .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.goal-container .remark {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.goal-container .score {
  margin-top: 0.25rem;
}

.todays-goal {
  color: var(--purple);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 22px;
}

.lessons-list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.lesson-item {
  width: 130px;
  flex-shrink: 0;
}

.lesson-icon__container {
  background: var(--white);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson-icon__container img {
  width: 100%;
  transform: rotate(15deg); /* Because the assessment's screenshot is slanted*/
  display: block;
}

.lesson-title {
  margin: 0.75rem 0 0.25rem;
}

.lesson-duration {
  color: var(--grey);
  font-size: 0.75rem;
}

/* Leaderboard */
.leaderboard-container {
  margin: 2rem 0;
}
.leaderboard-item {
  background: var(--white);
  padding: 0.75rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 1rem;
}

.leaderboard-item:not(:last-child) {
  margin-bottom: 1rem;
}

.leaderboard-item .avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--light-orange);
}

.leaderboard-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard-details .name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.leaderboard-details .location {
  font-size: 0.75rem;
  color: var(--grey);
}
