.not-found {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.not-found h1 {
  color: var(--purple);
  font-size: 5rem;
}

.back-btn {
  border: none;
  background: var(--purple);
  color: var(--white);
  padding: 0.75rem 1rem;
  font-size: 18px;
  display: flex;
  gap: 0.35rem;
  align-items: center;
  margin: 2rem auto 0;
  border-radius: 0.5rem;
}
