.circular {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
}

.circular .inner {
    height: 80px;
    width: 80px;
position: absolute;
z-index: 10;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: var(--orange);
border-radius: 50%;
}