:root {
  --light-purple: #cad1f1;
  --purple: #6473bb;
  --light-orange: #ffd6c1;
  --orange: #ff9665;
  --grey: #c2c2c4;
  --white: #fff;
  --black: #323233;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#f7f9fe, rgba(100, 114, 186, 0.1));
  height: 100vh;
  background-attachment: fixed;
  overflow-y: scroll;
  color: var(--black);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

section {
  padding: 1.5rem 0;
}

section .section-tile {
  margin-bottom: 1.5rem;
  font-size: 22px;
  font-weight: 500;
}

ul {
  list-style: none;
}

